* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px; }

article, aside, details, figcaption,
figure, footer, header, hgroup, main,
nav, section, summary {
  display: block; }

h1 {
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: #9ed; }

/*
 * NAV BAR
 */
nav {
  position: absolute;
  width: 100%; }
  nav .content {
    width: 80%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row; }
    @media (max-width: 768px) {
      nav .content {
        flex-flow: column;
        width: 100%;
        margin-top: 15px; } }
    nav .content .brand img {
      height: 64px;
      width: 64px; }
      @media (max-width: 768px) {
        nav .content .brand img {
          margin-bottom: 15px; } }
    nav .content ul {
      list-style-type: none;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between; }
      @media (max-width: 768px) {
        nav .content ul {
          flex-flow: column; } }
      @media (max-width: 768px) {
        nav .content ul li:not(:last-child) {
          margin-bottom: 8px; } }
      @media (min-width: 769px) {
        nav .content ul li:not(:last-child) {
          margin-right: 40px; } }
      nav .content ul li a {
        color: #fff;
        font-size: 18px;
        padding: 10px 0;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.25s ease; }
        nav .content ul li a:hover {
          border-botom: 2px solid #fff; }
        @media (max-width: 768px) {
          nav .content ul li a {
            font-size: 120%; } }

/*
 * HERO HEADER
 */
header.hero {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 168, 119, 0.9), rgba(0, 147, 198, 0.95)); }
  header.hero.amongus {
    background-image: -webkit-linear-gradient(bottom, rgba(90, 147, 198, 0.95), rgba(0, 168, 119, 0.9)); }
  header.hero h1 {
    color: #fff; }
  header.hero .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: bottom;
    z-index: -10; }

main.landing {
  /* section.admins */
  /* section.merch */ }
  main.landing header.hero h1 {
    font-weight: 600;
    font-size: 3em;
    text-align: center; }
    @media (max-width: 768px) {
      main.landing header.hero h1 {
        font-size: 4em; } }
  main.landing section.links-bg {
    background: linear-gradient(to right, #ff0066, #3333ff);
    margin: 0;
    padding-top: 5px; }
    main.landing section.links-bg div.links {
      padding: 80px 0;
      color: #ff0066;
      background-color: #000;
      display: flex;
      flex-flow: column; }
      main.landing section.links-bg div.links h1 {
        background: linear-gradient(to right, #ff0066, #3333ff);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-size: 3em; }
      main.landing section.links-bg div.links ul {
        max-width: 80%;
        margin: auto;
        margin-top: 30px;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center; }
        @media (max-width: 768px) {
          main.landing section.links-bg div.links ul {
            max-width: 100%; } }
        @media (max-width: 768px) {
          main.landing section.links-bg div.links ul {
            flex-flow: column;
            align-items: start; } }
        main.landing section.links-bg div.links ul li {
          background-color: #36393f;
          padding: 10px;
          margin: 16px;
          border-radius: 16px; }
          @media (max-width: 768px) {
            main.landing section.links-bg div.links ul li {
              width: 100%;
              padding: 2px;
              margin: 8px 0; } }
          main.landing section.links-bg div.links ul li a {
            color: lightgreen;
            display: flex;
            flex-flow: row; }
            main.landing section.links-bg div.links ul li a img {
              max-width: 64px;
              max-height: 64px;
              border-radius: 16px;
              margin: 16px; }
              @media (max-width: 768px) {
                main.landing section.links-bg div.links ul li a img {
                  margin: 12px;
                  max-width: 48px;
                  max-height: 48px;
                  border-radius: 12px; } }
            main.landing section.links-bg div.links ul li a div.text {
              color: #eee;
              display: flex;
              flex-flow: column;
              justify-content: center;
              margin: 16px; }
              main.landing section.links-bg div.links ul li a div.text h3 {
                color: #fff; }
              @media (max-width: 768px) {
                main.landing section.links-bg div.links ul li a div.text {
                  margin: 12px; } }
  main.landing section.admins {
    margin: 80px 0; }
    main.landing section.admins h1 {
      text-align: center;
      font-size: 3em; }
    main.landing section.admins ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto;
      margin-top: 30px; }
      main.landing section.admins ul li {
        display: flex;
        flex-direction: row;
        padding: 35px;
        margin: 50px auto; }
        @media (max-width: 768px) {
          main.landing section.admins ul li {
            flex-direction: column; } }
        @media (min-width: 769px) {
          main.landing section.admins ul li {
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2); } }
        main.landing section.admins ul li .logo {
          display: flex; }
          @media (min-width: 993px) {
            main.landing section.admins ul li .logo {
              width: 25%;
              border-right: 1px solid #ccc; } }
          @media (max-width: 992px) {
            main.landing section.admins ul li .logo {
              border-bottom: 1px solid #ccc; } }
          main.landing section.admins ul li .logo img {
            width: 80%;
            height: auto;
            margin: 0 auto; }
            @media (max-width: 992px) {
              main.landing section.admins ul li .logo img {
                padding-bottom: 30px; } }
        main.landing section.admins ul li .text-wrapper {
          flex: 3; }
          @media (max-width: 992px) {
            main.landing section.admins ul li .text-wrapper {
              padding: 20px 0; } }
          main.landing section.admins ul li .text-wrapper .text {
            margin: 0 auto;
            width: 75%; }
            main.landing section.admins ul li .text-wrapper .text h2 {
              margin-bottom: 16px; }
            main.landing section.admins ul li .text-wrapper .text blockquote {
              font-style: italic;
              padding: 10px 20px;
              margin: 0 0 20px;
              font-size: 17.5px;
              color: #333;
              border-left: 5px solid #eee; }
  main.landing section.merch {
    background-color: #fafafa;
    padding: 40px 0; }
    main.landing section.merch h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 3em; }
    main.landing section.merch > ul {
      list-style-type: none;
      width: 80%;
      margin: 30px auto;
      display: flex;
      align-content: center;
      flex-flow: column;
      align-content: center; }
      @media (min-width: 993px) {
        main.landing section.merch > ul {
          flex-flow: row wrap;
          justify-content: center; }
          main.landing section.merch > ul > li {
            flex-basis: 30%; } }
      main.landing section.merch > ul > li {
        background-color: #fff;
        flex-shrink: 1;
        display: flex;
        flex-flow: column;
        align-content: center;
        padding: 30px;
        margin: 20px; }
        @media (max-width: 992px) {
          main.landing section.merch > ul > li {
            margin: 20px 0; }
            main.landing section.merch > ul > li:not(:last-child) {
              border-bottom: 1px solid rgba(0, 0, 0, 0.2); } }
        @media (min-width: 993px) {
          main.landing section.merch > ul > li {
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2); } }
        @media (max-width: 65vh) {
          main.landing section.merch > ul > li {
            padding: 10px; } }
        main.landing section.merch > ul > li .carousel {
          margin: auto;
          margin-bottom: 40px;
          position: relative; }
          main.landing section.merch > ul > li .carousel > .image-container {
            display: flex;
            flex-flow: row;
            align-items: center;
            overflow: hidden;
            height: 40vh;
            width: 40vh; }
            @media (max-width: 65vh) {
              main.landing section.merch > ul > li .carousel > .image-container {
                height: 70vw;
                width: 70vw; } }
            main.landing section.merch > ul > li .carousel > .image-container img {
              max-width: 100%;
              height: auto; }
          main.landing section.merch > ul > li .carousel .switcher {
            position: absolute;
            height: 100%;
            width: 20%;
            top: 0;
            background: transparent;
            color: #fff;
            text-shadow: 1px 1px 2px #555;
            border: none;
            font-size: 2em; }
            main.landing section.merch > ul > li .carousel .switcher:hover {
              cursor: pointer; }
            main.landing section.merch > ul > li .carousel .switcher.left {
              left: 0; }
            main.landing section.merch > ul > li .carousel .switcher.right {
              right: 0; }
        main.landing section.merch > ul > li .text {
          display: flex;
          justify-content: center;
          align-content: center; }
          main.landing section.merch > ul > li .text h2 {
            font-size: 2em; }
  main.landing footer {
    color: #fff;
    background-color: #097; }
    main.landing footer .links {
      padding: 30px 15px;
      margin: auto;
      display: flex;
      flex-flow: column;
      align-items: center; }
      @media (min-width: 769px) {
        main.landing footer .links {
          flex-flow: row; }
          main.landing footer .links ul {
            margin-left: 20px; } }
      main.landing footer .links ul {
        list-style-type: none;
        padding: 10px; }
        main.landing footer .links ul h3 {
          font-family: sans-serif;
          font-weight: 700;
          margin-bottom: 5px;
          font-size: 16px;
          text-transform: uppercase; }
          @media (max-width: 768px) {
            main.landing footer .links ul h3 {
              text-align: center; } }
        main.landing footer .links ul li {
          margin-bottom: 3px;
          font-size: 14px; }
        main.landing footer .links ul li a {
          color: #eee; }
    main.landing footer .copy {
      border-top: 1px solid #5b9;
      text-align: center;
      max-width: 80%;
      margin: 40px auto 0 auto;
      padding: 25px; }

/*# sourceMappingURL=styles.css.map */
