* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

article, aside, details, figcaption,
figure, footer, header, hgroup, main,
nav, section, summary {
    display: block;
}

h1 {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #9ed;
}

/*
 * NAV BAR
 */

nav {
    position: absolute;
    width: 100%;

    .content {
        width: 80%;
        height: 90px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .brand img {
            height: 64px;
            width: 64px;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;

            li {
                &:not(:last-child) {
                    margin-right: 40px;
                }

                a {
                    color: #fff;
                    font-weight: 700;
                    font-size: 18px;

                    padding: 10px 0;
                    text-decoration: none;

                    border-bottom: 2px solid transparent;
                    transition: border-bottom 0.25s ease;

                    &:hover {
                        border-botom: 2px solid #fff;
                    }

                    @media (max-width: 768px) {
                        font-size: 120%;
                    }
                }
            }
        }
    }
}

/*
 * HERO HEADER
 */
header.hero {
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-image: -webkit-linear-gradient(bottom, rgba(0, 168, 119, 0.9), rgba(0, 147, 198, 0.95));

    &.amongus {
        background-image: -webkit-linear-gradient(bottom, rgba(0, 50, 40, 0.9), rgba(0, 100, 90, 0.95));
    }

    h1 {
        color: #fff;
    }

    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: bottom;
        z-index: -10;
    }
}

main.landing  {
    header.hero {
        h1 {
            font-weight: 600;
            font-size: 3em;
            @media(max-width: 768px) {
                font-size: 4em;
            }
            text-align: center;
        }
    }

    section.admins {
        margin: 80px 0;

        h1 {
            text-align: center;
            font-size: 3em;
        }

        ul {
            list-style-type: none;

            width: 80%;
            margin: 0 auto;
            margin-top: 30px;

            li {
                display: flex;
                flex-direction: row;

                padding: 35px;
                margin: 50px auto;

                @media (max-width: 768px) {
                    flex-direction: column;
                }

                @media (min-width: 769px) {
                    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
                }

                .logo {
                    display: flex;

                    @media (min-width: 993px) {
                        width: 25%;
                        border-right: 1px solid #ccc;
                    }

                    @media (max-width: 992px) {
                        border-bottom: 1px solid #ccc;
                    }

                    img {
                        width: 80%;
                        height: auto;
                        margin: 0 auto;
                        @media (max-width: 992px) {
                            padding-bottom: 30px;
                        }
                    }
                }

                .text-wrapper {
                    flex: 3;

                    @media (max-width: 992px) {
                        padding: 20px 0;
                    }

                    .text {
                        margin: 0 auto;
                        width: 75%;

                        h2 {
                            margin-bottom: 16px;
                        }

                        blockquote {
                            font-style: italic;
                            padding: 10px 20px;
                            margin: 0 0 20px;
                            font-size: 17.5px;
                            color: #333;
                            border-left: 5px solid #eee;
                        }
                    }
                }
            }
        }
    } /* section.admins */

    section.merch {
        margin: 80px 0;
        h1 {
            text-align: center;
            font-size: 3em;
        }

        ul {
            list-style-type: none;
            width: 80%;
            margin: 30px auto;

            display: flex;
            align-content: center;
            flex-flow: column;
            align-content: center;

            @media (min-width: 993px) {
                flex-flow: row wrap;
                justify-content: center;
                li {
                    max-width: 60%;
                    flex-basis: 30%;
                    flex-grow: 1;
                }
            }

            li {
                display: flex;
                flex-direction: column;

                padding: 50px;
                margin: 20px;
                @media (max-width: 768px) {
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(0,0,0,0.2);
                    }
                }

                @media (min-width: 769px) {
                    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
                }

                .image {
                    display: flex;
                    margin-bottom: 30px;
                    img {
                        width: auto;
                        height: 40vh;
                        margin: auto;
                    }
                }

                .text {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }
            }
        }
    } /* section.merch */

    footer {
        color: #fff;
        background-color: #097;
        .links {
            padding: 30px 15px;
            margin: auto;

            display: flex;
            flex-direction: row;
            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }

            ul {
                margin-left: 20px;
                list-style-type: none;
                padding: 10px;

                h3 {
                    font-family: sans-serif;
                    font-weight: 700;
                    margin-bottom: 5px;
                    font-size: 16px;
                    text-transform: uppercase;
                    @media (max-width: 768px) {
                        text-align: center;
                    }
                }

                li {
                    margin-bottom: 3px;
                    font-size: 14px;
                }

                li a {
                    color: #eee;
                }
            }
        }
        .copy {
            border-top: 1px solid #5b9;
            text-align: center;
            max-width: 80%;
            margin: 40px auto 0 auto;
            padding: 25px;
        }
    }
}
